<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form>
    <input type=text name="title" placeholder="Title">
    <textarea name="text" placeholder = "Text" rows = 20 cols = 20></textarea>
    <input type="number" name="bid">
    <input type = "text" name="Category" placeholder="Category(Optional)">
    <input type = "text" name = "Image" placeholder = "Link to an image(Optional)">
    <input type="submit" name="submit">
</form>
</body>
</html>